<header>
  <input type="checkbox" id="toggle-menu" />

  <div class="container-head">
    <a href="#">
      <img src="/assets/logo-desktop.svg" class="logo" />
    </a>

    <nav>
      <div class="options-menu">
        <ul>
          <a href="#"><li>Projetos</li></a>
          <a href="#"><li>Sobre nós</li></a>
            <a href="#"><li>Coladoradores</li></a>
        </ul>
      </div>

      <div class="options-bottons">
        <button class="cadastra" onclick="redirectToHome()">CADASTRAR</button>
        <a href="#forms" class="doe" onclick="redirectToDoa()">DOE AGORA</a>
      </div>
    </nav>

    <label for="toggle-menu">
      <fa-icon [icon]="menuIcon" class="menu-icon"></fa-icon>
    </label>
  </div>

  <app-carousel></app-carousel>

  <h1>Com mais de 10 milhões de hectares devastados, a urgência de proteger nossas florestas nunca foi tão clara.</h1>
</header>
