header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 59.37%,
    rgba(0, 0, 0, 0) 100%
  );
}

.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.75rem;
  padding: 0 2.5rem;
}

.logo {
  width: 88px;
  height: 88px;
}
.menu {
  text-align: center;
}
.options-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  transform: translate(30%);
}

ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

li {
  display: inline-block;
  text-align: justify;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  font-size: 20px;
  color: var(--white, #fff);
}

.options-bottons {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 1.25rem;
}

.doe {
  font-weight: 700;
  padding: 18px 24px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--yellow);
}

.doe:hover {
  background-color: #eaf108;
}

.cadastra {
  font-weight: 500;
  padding: 18px 24px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--green-primary);
  color: #fff;
}

.cadastra:hover {
  background-color: #90b803;
}
