footer {
  height: 5rem;
  background-color: var(--green-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2.5rem;
}

footer a {
  color: #e2e2e2;
}

footer a:hover {
  color: #fff;
}

@media (max-width: 425px) {
  footer {
    font-size: 28px;
  }
}