<div class="alert" *ngIf="showAlert">
  <div class="alert-header">
    <h4>We respect your privacy</h4>

    <button (click)="closeAlert()">x</button>
  </div>

  <p>
    We use cookies to enhance your browsing experience. Cookies are small text
    files that help us personalize your experience by remembering your
    preferences and optimizing the site's performance.
  </p>

  <div class="actions">
    <button class="accept-btn" (click)="closeAlert()">Accept Cookies</button>

    <button class="reject-btn" (click)="closeAlert()">Reject All</button>
  </div>
</div>
