<section>
  <h2>Sobre Nós</h2>

  <div id="containers">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas
        exercitationem rerum dolor vel possimus. Libero a velit eligendi
        dolorum, quis ad voluptatem, enim ab reprehenderit, voluptas temporibus
        aut tempore.
      </p>
    </div>

    <div class="container">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
        doloribus quas sequi corrupti, laboriosam cum officia delectus animi
        deleniti quod adipisci fugit, nulla sed libero odit totam expedita quia.
        Cum.
      </p>
    </div>
  </div>
</section>
