<section>
  <h2>Sobre Nós</h2>

  <div id="containers">
    <div class="container">
      <p>
        Nós da IWA estamos empenhados em deter o desmatamento. Por isso, combinamos conscientização, parcerias estratégicas e ações práticas para combater a destruição ilegal de hectares e promover práticas sustentáveis. 
      </p>
    </div>

    <div class="container">
      <p>
        Nossa equipe de ambientalsitas, defensores dos direitos indígenas e ativistas, trabalha todos os dias para proteger comunidades e preservar ecossistemas. Junte-se a nós nessa jornada de preservação das nossas florestas, garantindo um futuro sustentável para todos.
      </p>
    </div>
  </div>
</section>
