section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3.5rem;
  align-items: center;
}

section h2 {
  color: var(--green-secondary);
  font-size: 3rem;
}

section #containers {
  display: flex;
  flex: 1;
  gap: 2.5rem;
}

section #containers .container {
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

section #containers .container p {
  font-size: 1.5rem;
  line-height: 40px;
}

@media (max-width: 425px) {
  section {
    gap: 18px;
  }

  section h2 {
    font-size: 24px;
  }

  section #containers {
    flex-direction: column;
    gap: 16px;
  }

  section #containers .container {
    padding: 12px;
  }

  section #containers .container p {
    font-size: 10px;
    line-height: 20px;
  }
}