* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Lora", serif;
}

:root {
  --yellow: #d2d904;
  --green-primary: #83a603;
  --green-secondary: #5a7302;
  --red-alert: #ae2323;
  --gray-primary: #686868;
  --gray-secondary: #d9d9d9;
  --blur: rgba(0, 0, 0, 0.4);
}
