<div class="container-doar" >
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Doação</h2>

        <!--Checkbox de selecao do preço doado -->
        <div class="container-doacao">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="10">
                <span>R$ 10</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="20">
                <span>R$ 20</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="50">
                <span>R$ 50</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="100">
                <span>R$ 100</span>
            </label>
        </div>

        <!--Input de nome do doador-->
        <div class="form-group">
            <label for="inputDoador" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="Digite o seu nome completo">
            </div>
          </div>

        <!--Input de email do doador-->
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Digite o seu e-mail">
            </div>
        </div>

        <!--Input de telefone do doador-->
        <div class="form-group">
            <label for="inputTelefone" class="col-sm-2 control-label">Telefone</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="(XX)XXXXX-XXXX">
            </div>
        </div>

        <!--Checkboxs-->
        <div class="checkbox-notifications">
            <label>
            <input type="checkbox" value="">
            Você concorda em receber as notificações dos projetos
            </label>
        </div>
        <div class="checkbox-terms">
            <label>
            <input type="checkbox" value="">
            Você concorda com os <u>Termos e Condições</u>
            </label>
        </div>

        <!--Botao de submissao do formulario-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Doe agora</button>
            </div>
        </div>
    </form>
</div>
