form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
}

form h2 {
    color: var(--green-secondary);
    font-size: 3rem;
}

.container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.checkbox-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.radio-inline {
    display: flex;
    padding: 0px 40px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--green-secondary);
    border-radius: 8px;
    cursor: pointer;
}


#checkbox input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--green-secondary);
    
}
input[type="radio"]:checked + label span {
    color: var(--white);
}
span {
    text-align: center;
    font-size: 28px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 32px;
    margin-bottom: 36px;
}

.form-input1, .control-input1, .form-control{
    width: 100%;
}

.control-input1, .control-input2{
    display: flex;
    align-items: center;
    background: var(--gray-secondary);
    border-radius: 4px;
}
fa-icon {
    width: 32px;
    padding: 12px 12px;
}

.form-input1, .form-input2 {
    color: var(--black);
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}
.span-input {
    color: var(--red-primary);
    font-size: 20px;
    font-weight: 400;
}

.form-control, .form-control2{
    color: var(--gray-primary);
    outline: none;
    padding: 14px 14px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    background: var(--gray-secondary);
    border: none;
    border-radius: 4px;
}

.form-input2 {
    width: 50%;
}


.control-input2, .form-control2 {
    width: 100%;
}

.input-email-telefone {
    display: flex;
    gap: 22px;
    width: 100%;
}

.checkbox-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 27px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}


.container input:checked ~ .checkmark {
    background-color: var(--green-primary);
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttom-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.text-buttom {
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 24px 40px;
    color: var(--black);
    font-size: 24px;
    font-weight: 500;
    background-color: var(--yellow);
    border-radius: 4px;
    justify-content: center;
}

.text-buttom:hover {
    background-color: #eaf108;
}


@media (max-width: 767px) {
.container-form {
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.checkbox-container span {
    font-size: 22px;
}
  
.radio-inline {
    font-size: 5px;
    padding: 10px 10px;
    flex-basis: calc(50% - 10px);
}
  
.radio-inline:last-child {
    flex-basis: 100%; 
}

.input-container {
    flex-direction: column;
}

.input-container label {
    font-size: 14px;
}

.input-container input {
    font-size: 14px;
}

.input-email-telefone {
    flex-direction: column;
    gap: 10px;
}

.form-input2 {
    width: 100%;
}

.checkbox-container2 {
    gap: 10px;
}
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 2px;
    height: 8px;
}
.checkmark {
    height: 15px;
    width: 15px;
}

.container {
    font-size: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    justify-items: center;
}
}

