<div class="container-doar" >
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h2>Doação</h2>
        <div class="container-form">
            <!--Checkbox de selecao do preço doado -->
            <div class="checkbox-container" id="checkbox">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio" value="10">
                    <span>R$ 10</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio" value="20">
                    <span>R$ 20</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio" value="50">
                    <span>R$ 50</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio" value="100">
                    <span>R$ 100</span>
                </label>
            </div>

            <!--Input de nome do doador-->
            <div class="input-container">
                <div class="form-input1">
                    <label for="inputDoador" class="control-label">Nome</label>
                    <div class="control-input1">
                    <input type="text" class="form-control" id="inputName" placeholder="Digite o seu nome completo">
                    </div>
                </div>

            <!--Input de email do doador-->
                <div class="form-input2">
                    <label for="inputEmail" class="control-label">Email</label>
                    <div class="control-input2">
                    <input type="email" class="form-contro2" id="inputEmail" placeholder="Digite o seu e-mail">
                    </div>
                </div>

            <!--Input de telefone do doador-->
                <div class="form-input3">
                    <label for="inputTelefone" class="control-label">Telefone</label>
                    <div class="control-input3">
                    <input type="email" class="form-contro2" id="inputEmail" placeholder="(XX)XXXXX-XXXX">
                    </div>
                </div>
            </div>
            <!--Checkboxs-->
            <div class="checkbox-container2">
                <div class="checkbox-notifications">
                    <label>
                    <input type="checkbox" value="">
                    Você concorda em receber as notificações dos projetos
                    </label>
                </div>
                <div class="checkbox-terms">
                    <label>
                    <input type="checkbox" value="">
                    Você concorda com os <u>Termos e Condições</u>
                    </label>
                </div>
            </div>
            <!--Botao de submissao do formulario-->
            <div class="buttom-container">
                <div class="buttom">
                <button type="submit" class="text-buttom">DOE AGORA</button>
                </div>
            </div>
        </div>
    </form>
</div>
